$primary-color:#fff;
$secondary-color:#000;
$accent-color:#235789;

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma,sans-serif;
}

body{
    background: $primary-color;
    color:$secondary-color;
}

html{
    scroll-behavior: smooth;
}

.main_container{
    padding:3em 3%;
    margin:0 0 3em;
    @media  screen and (width <=725px) {
        padding:3em 5%;
    }
}

.btn{
    button{
        padding:0.4em 0.7em;
        text-align: center;
        background: $secondary-color;
        color:$primary-color;
        font-size: 0.9em;
        border:none;
        border-radius: 8px;
        cursor: pointer;
    }  
}
.title{
    color:$accent-color;
}