.hero_container{
    @include grid(2);
    height: 88vh;
    // *{border:1px solid green}

    .hero_content{
        padding: 0.5em 0.9em;

        h1{
            font-size: 2.3em;
            margin-bottom: 0.9em;
        }
        p{
            font-size: 1.2em;
            margin-bottom: 0.9em;
            font-weight: 500;
        }
    }

    .hero_image{
        @include flex_center;
        align-items: center;
        position: relative;

        img{
            width: 90%;
            height: 77vh;
            border-radius: 16px;
        }
        .name{
            position: absolute;
            color:$primary-color;
            top:10%;
            left:8%;
        }
    }
}

@media screen and (width <= 726px) {
    .hero_container{
        background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/house.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        border-radius: 20px;
        color:$primary-color;
        height: 62vh;

        .hero_content{
            @include flex_center;
            padding:1.2em 0.9em;
            h1{
                font-size: 1.6em;
            }
        }
        .hero_image{
            display: none;
        }
    }
}