.nav_container{
    @include flex_center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: $secondary-color;
    color: $primary-color;
    padding:0 1.2em;
    position: sticky;
    z-index:99;
    top:0;

    .logo{
        a{
            text-decoration: none;
            color: $primary-color;
            @include flex_center;
            flex-direction: row;
            gap:0.3em;
            font-size: 1.2em;
            font-weight: bold;

            img{
                border-radius: 50%;
            }
        }
    }

    .nav_links{
        ul{
            list-style: none;

            li{
                a{
                    text-decoration: none;
                    color:$primary-color;
                    padding:0 0.9em;
                }
            }
        }
        
        .burger{
            display: none;
            cursor: pointer;
            
            span{
                display: block;
                background: $primary-color;
                margin: 8px 0;
                width: 30px;
                height: 3px;
            }
        }

        .burger.active ~ .nav_links {
            display: block;
        }
        .burger.active span:nth-child(1) {
            transform: rotate(45deg) translate(8px, 8px); 
        }
    
        .burger.active span:nth-child(2) {
        opacity: 0; 
        }
    
        .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px); 
        } 
    }
}

@media  screen and (width <= 726px) {
    .nav_container{
        .nav_links{
            ul{
                flex-direction: column;
                position: absolute;
                top: 10vh;
                right: 0;
                width: 50%;
                height: 65vh;
                background: $secondary-color;
                backdrop-filter: blur(3px);
                display: none;
                z-index: 99;
                
                a{
                    color:$primary-color;
                    @include flex_center;
                    align-items: center;
                    font-weight: 550;
                    padding: 1em 0;
                    margin: 1.9em 0;
                }
                
                &.show{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
            
            .burger{
                display:inline-block !important;
            }
        }
    }
}